.tooltip{  
position: absolute;  
width: 120;  
height: auto;  
font-family: simsun;  
font-size: 14px;  
text-align: center;  
border-style: solid;   
border-width: 1px;  
background-color: white;  
border-radius: 5px;  
}  